
/*Animações do titulo (navegation)*/
.titulo-nav{
  width: 30%;
  height: 20%;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;   
  text-align: center; 
  padding: 10px;
  animation: bg_titulo-nav 4s infinite; 
}
@keyframes bg_titulo-nav {
     
    from{
      background-color: white;
      color: black;
    }
    to{
      background-color: black;
      color: white;
    }
  }




 /*Animações das minhas Skill(my-projetos)*/
  #animation-skill{
    position: relative;
    animation: my-skill 10s infinite;
  }
  @keyframes my-skill {
    0%   {left:0px; top:0px;}
    25%  {left:100px; top:0px;}
    50%  {left:100px; top:0px;}
    75%  {left:0px; top:0px;}

  }


 
 /*Barra de rolagem my-projetos*/ 
#overflow-my-projetos {
    color: white;
    padding: 10px;
    width: auto;
    height: 400px;
    overflow: scroll;
  }




  
.quem_sou_eu{
    width: 50%;
    border: 1px solid black;
}

.img_perfil{
    
border-radius: 50%;
height: 500px;

}

.texto{
    display: inline-block;
}
