.titulo-nav{
  width: 30%;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;   
  text-align: center; 
  padding-top: 10px;
  animation: bg_titulo-nav 4s infinite; 
}
@keyframes bg_titulo-nav {
     
    from{
      background-color: white;
      color: black;
    }
    to{
      background-color: black;
      color: white;
    }
  }






 /*Animações das minhas Skill(my-projetos)*/
  #animation-skill{
    position: relative;
    animation: my-skill 4s infinite;
  }
  @keyframes my-skill {
    0%   {left:0px; top:0px;}
    25%  {left:100px; top:0px;}
    50%  {left:100px; top:0px;}
    75%  {left:0px; top:0px;}

  }


 
 /*Barra de rolagem my-projetos*/ 
#overflow-my-projetos {
    color: white;
    padding: 10px;
    width: auto;
    height: 400px;
    overflow: scroll;
  }


  @media screen and (max-width:414px){

    .img-responsive{
      width: 50%;
      margin: auto;
    }
    .img-logo{
      position: relative;
      bottom: 15px;
    }
     
    .flutua-esq{
      float: left;
      width: 50px;
      height: 50px;
    } 

    .text-logo{
      color: white;
      font-size: 15px;
      position: relative;
      bottom: 15px;
      right: 5px;
      font-weight: bold;
    }
    
    .text-boas-vindas{
      font-size: 18px;
    }

    .img-quemsou{
      width: 300px;
      margin: auto;
    }

    .text-quemsoueu{
      position: relative;
      top: 50px;
      float: left;
    }

    .titulo-nav-mobile{
      font-family: 'Roboto', sans-serif;   
      text-align: center; 
      animation: bg_titulo-nav 4s infinite; 
    }
    @keyframes bg_titulo-nav {
         
        from{
          background-color: white;
          color: black;
        }
        to{
          background-color: black;
          color: white;
        }
      }

      #animation-skill{
        position: relative;
        animation: my-skill 2s infinite;
        border: 1px solid rgba(255, 255, 255, 0.555);
        width: 30%;
      }
      @keyframes my-skill {
        0%   {left:0px; top:0px;}
        25%  {left:8px; top:0px;}
        50%  {left:8px; top:0px;}
        75%  {left:0px; top:0px;}
    
      }

  }


@media (min-width:768px){
  .estagio-responsivo{
    width: 50%;
    height: 50%;
    display: inline;
  
  }

  h5{
    text-align: center;
  }

  p{
    text-align: center;
  }

  .quem-sou-eu{
    width: 50%;
  }

  .text-logo{
    color: white;
    font-weight: bold;
  }

  .btn-lg{
    position: relative;
    left: 30px;
    margin: 3px;
  }

  .titulo-nav{
    width: 30%;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;   
    text-align: center; 
    padding-top: 10px;
    animation: bg_titulo-nav 4s infinite; 
  }
  @keyframes bg_titulo-nav {
       
      from{
        background-color: white;
        color: black;
      }
      to{
        background-color: black;
        color: white;
      }
    }

}

